html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.editors {
    width: 95vw;
}

.log-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.search-in-logs {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 auto;
    border-radius: 20px;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 10px 5px 5px rgba(109, 105, 105, 0.1);
}

/* Настройка темы подсветки */

/* Основные настройки блока */
.CodeMirror {
    height: 85vh !important;
    font-size: 16px !important;
    line-height: 2;
    font-family: "JetBrains Mono", monospace;
    margin: 10px;
    border-radius: 20px;
}

.highlight {
    background-color: #FFD700; /* золотистый цвет */
    color: #000; /* черный текст */
}

.hints {
    color: rgb(109, 105, 105);
    font-size: 12px;
    margin-left: 15px;
}

/* Настройка цвета номеров строк */
.cm-s-default .CodeMirror-gutter {
    background: #f0f0f0; /* Цвет фона для области номеров строк */
    color: #333; /* Цвет текста номеров строк */
}

/* Настройка цвета фона редактора */
.cm-s-default .CodeMirror {
    background: #ffffff; /* Цвет фона для редактора */
    color: #000000; /* Цвет текста в редакторе */
}

/* Настройка цвета строк, которые изменяются при выборе темы */
.cm-s-default .CodeMirror-line {
    background: #ffffff; /* Цвет фона для строк */
}

.cm-s-default .cm-date {
    color: rgb(109, 105, 105); /* Цвет для даты */
}

.cm-s-default .cm-time {
    color: rgb(109, 105, 105); /* Цвет для времени #0000ff */
}

.cm-s-default .cm-error {
    color: #ff0000; /* Цвет для ошибок (красный) */
}

.cm-s-default .cm-warn {
    color: #ffa500; /* Цвет для предупреждений (оранжевый) */
}

.cm-s-default .cm-info {
    color: #0000ff; /* Цвет для информационных и отладочных сообщений (синий) */
}

.cm-s-default .cm-log-level {
    color: #008000; /* Цвет для других уровней логирования (зеленый) */
}

.cm-s-default .cm-string {
    color: #000000; /* Цвет для сообщений и других токенов */
}
