<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
            integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/log.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    <title>Logs</title>
</head>

<body>
<div class="loader-wrapper" id="loader">
    <span style="margin-bottom: 5px">Загрузка контента...</span>
    <div class="loader"></div>
</div>
<div id="content"> <!-- style="display: none" -->
    <div class="log-wrapper">
        <div class="helpers">
            <div class="helpers-block">
                <input class="search-in-logs" type="text" placeholder="Поиск" id="search" autocomplete="off">
                <div class="helpers-btn">
                    <button class="btn" onclick="getPrevRowsByCount('{{.RowsLoad}}')">Загрузить еще {{.RowsLoad}} строк</button>
                    <button class="btn">Загрузить все доступные логи</button>
                </div>
            </div>
            <span class="hints">Найдено совпадений: <span id="matches">0</span></span>
        </div>
        <div class="editors">
            <textarea id="logs" class="code-editor" name="code"></textarea>
        </div>
    </div>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/mode/simple.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/search/searchcursor.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.22addon/search/search.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/logs.js"></script>
</html>