<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="container">
    <h1 class="title">Login</h1>
    <div class="wrapper">
        <form action="/login" method="post">
            <label for="loginInput">Enter your login:</label>
            <input class="form-input" type="text" placeholder="your login" id="loginInput" name="username">

            <label for="passwordInput" id="lastLabel">Enter your password:</label>
            <input class="form-input" type="password" placeholder="your password" id="passwordInput" name="password">
            <input class="form-submit" type="submit" value="Login">
        </form>
    </div>
</div>
</body>
</html>
